@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Poppins:wght@200;300;400;500;600;700&family=Sonsie+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,300&family=Poppins:wght@200;300;400;500;600;700&family=Sonsie+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primary-color:#fff;
  --secondary-color: #212121;
  --third-color:#808080;
  --footer-color:#f8f8f8;
}

.dark-theme{
  --primary-color:#000106;
  --secondary-color:  #fff;
  --third-color:#ffffff;
  --footer-color:#000106;
}
html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  background: var(--primary-color);
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

.logo_clb {
  width: 175px;
  height: 55px;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

.margin-top {
  margin-top: 30px;
}

.opacity {
  display: none;
}

#icon{
  width: 35px;
  height: 35px;
  cursor:pointer;
}

.cup_c1 {
  width: 69px;
  height: 55px;
  object-fit: contain;
  overflow: hidden;
}

.content {
  width: 1170px;
  margin: 0 auto;
}

.navbar__first {
  display: flex;
  align-items: center;
  gap:15px;
  flex-grow: 1;
}


.navbar__item {
  position: relative;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: var(--third-color);
}

.navbar__item::after,
.sign::after {
  content: "";
  position: absolute;
  background-color: var(--secondary-color);
  height: 3px;
  width: 0;
  left: 0;
  transition: 0.3s;
  bottom: -10px;
}

.navbar__item:hover::after,
.sign:hover::after {
  width: 100%;
}

.navbar_react {
  display: flex;
  gap: 40px;
  align-items: center;
}
.navbar{
  background-color: #fff;
}
.navbar_language {
  display: flex;
  align-items: center;
  gap: 7px;
}

.navbar_sign {
  display: flex;
  gap: 25px;
}

.navbar__content {
  padding: 20px;
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: var(--primary-color);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  top: 0;
  height: 70px;
}

li{
  list-style: none;
}
.navbar_clb {
  margin-top: -15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-toggler{
  margin-left: 25px;
}
.navbar-gap {
  display: flex;
  gap:25px;
}
.slider {
  padding-top: 100px;
  width: 1170px;
  height: 800px;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .navbar__item {
    font-size: 14px;
  }
  .navbar__content {
    height: auto;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.slides {
  width: 500%;
  display: flex;
  height: 650px;
}

.slides input {
  display: none;
}

.slide {
  transition: 1s;
  width: 20%;
}

.slide img {
  width: 1170px;
  height: 650px;
}

.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
  margin-left: 162px;
}

.navigation-auto {
  position: absolute;
  display: flex;
  width: 1170px;
  justify-content: center;
  margin-top: 460px;
}

.manual-btn {
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:hover {
  background: #40D3DC;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .first {
  margin-left: 0%;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

#radio1:checked ~ .navigation-auto .audio_btn1 {
  background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .audio_btn2 {
  background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .audio_btn3 {
  background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .audio_btn4 {
  background: #40D3DC;
}
.navbar-collapse{
  flex-basis: 100%;
  flex-grow: 1;
}

.all_navbar{
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign {
  position: relative;
  color: #808080;
  text-transform: uppercase;
}

.gallery_img:hover {
  transform: translateY(-10px);
  transition: 0.4s;
}

.slide-pic {
  margin-top: 40px;
  width: 100%;
  object-fit: cover;
  height: 500px;
}

.show {
  opacity: 1;
  pointer-events: auto;
}

.display {
  display: block;
}

/*Form */
.form_container {
  position: fixed;
  max-width: 320px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: all 0.4s ease-out;
}

.form_close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #0b0217;
  font-size: 22px;
  opacity: 0.7;
}

.form_container.active .signup_form {
  display: block;
}

.language{
  display: block;
  margin :auto;
}

.form_container.active .login_form {
  display: none;
}

.signup_form .button_login {
  color: #fff;
}

.button_login {
  cursor: pointer;
}

.form_container h2 {
  font-size: 22px;
  color: #0b0217;
  text-align: center;
}

.input_box {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 40px;
}

.input_box input {
  height: 100%;
  width: 100%;
  padding: 0 30px;
  outline: none;
  border: none;
  border-bottom: 1.5px solid #aaaaaa;
  transition: all 0.2s ease;
}

.input_box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  font-size: 20px;
}

.input_box i.email,
.input_box i.password {
  left: 0;
  color: #707070;
}

.input_box i.pw_hide {
  right: 0;
  font-size: 18px;
}

.input_box input:focus {
  color: #7d2ae8;
}

.input_box input:focus ~ i.email,
.input_box input:focus ~ i.password {
  color: #7d2ae8;
}

.option_field {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form_container a {
  color: #7d2ae8;
  font-size: 14px;
}

.form_container a:hover {
  text-decoration: underline;
}

.checkbox {
  margin-top: 10px;
  display: flex;
  white-space: nowrap;
  column-gap: 8px;
  font-size: 14px;
}

.checkbox input {
  accent-color: #7deae8;
}

.checkbox label {
  font-size: 14px;
  color: #0b0217;
  user-select: none;
  cursor: pointer;
}

.form_container .button_login {
  background: #7d2ae8;
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
  outline: none;
  border: none;
}

.button_login span {
  color: #fff;
}

.login_signup {
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}

.signup_form {
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
  display: none;
}

/*End form*/
.first_team {
  margin-top: 40px;
}

.image_line_up {
  width: 250px;
  height: 300px;
  object-fit: cover;
}

.line_up_list {
  display: flex;
  justify-content: center;
}

.line_up_btn {
  border-radius: 10px;
  border: 16px solid #eaf6ff;
}

.line_up_infor {
  display: none;
}

.number,
.name {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.team_line_up {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.line_up_btn:hover {
  transform: translateY(-16px);
  /*cho item chạy ngược lên trên*/
  border-color: #2e80ec;
  cursor: pointer;
  transition: 0.5s;
}

.line_up_btn:hover .line_up_infor {
  display: block;
}

.first-team-up {
  display: flex;
  align-items: center;
}

.formation {
  width: 100px;
  height: 50px;
  object-fit: contain;
}

.line_up_name {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.line_up_name span {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}

.manager {
  margin-top: 50px;
  background: #3f3f3f;
  position: relative;
  padding-bottom: 40px;
}

.ancelotti {
  position: absolute;
  padding-top: 80px;
  left: 20%;
  bottom: 0;
}
.carousel-control-next-icon,.carousel-control-prev-icon{
  color:var(--secondary-color);
}
h2,p,span,.news_heading{
  color:var(--secondary-color);
}
.text_h2 {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  color:var(--secondary-color);
}

.text_h2::after {
  content: "";
  position: absolute;
  background-color: var(--secondary-color);
  height: 3px;
  width: 100%;
  left: 0;
  transition: 0.3s;
  bottom: -10px;
}

.all_manager {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
}

.infor_manager {
  width: 200px;
}

.infor_manager .text_h2,
.manager_name {
  color: #fff;
}

.manager_name {
  margin-top: 80px;
  padding-bottom: 50px;
}

.quotes {
  color: #fff;
  font-style: italic;
}

.match p,
.win p,
.trophy p {
  margin-top: 30px;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
}

.match span,
.win span,
.trophy span {
  color: #fff;
  font-size: 20px;
}

.news {
  margin-top: 50px;
}

.news1 {
  width: 580px;
  height: 330px;
}

.article_content {
  width: 500px;
  padding: 20px;
}

.news_real {
  display: flex;
  justify-content: space-between;
}

.advertising{
  margin-top: 200px;
}
.article1 {
  padding-top: 160px;
}

.article_h3 {
  color: var(--secondary-color);
}

.article_p {
  margin-top: 10px;
  font-style: italic;
  color: var(--secondary-color);
}

.news_heading {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 4px;
}

.margin-bottom {
  margin-bottom: 25px;
}

.legend {
  background: #3F3F3F;
  height: 1080px;
}

.legend_h2 {
  margin-top: 25px;
  text-transform: uppercase;
  font-size: 30px;
  color: #fff;
  margin-bottom: 50px;
}

.legend_up {
  display: flex;
}

.sub-btn {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.btn_btn {
  margin-top: 20px;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  position: relative;

}

.btn-img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  transition: 1s;
  object-fit: cover;
}

.btn_btn::after {
  content: "";
  display: block;
  width: 250px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  position: absolute;
  bottom: 0;
  border-radius: 10px;
}

.btn-name {
  text-transform: uppercase;
  color: #fff;
  bottom: 0;
  position: absolute;
  z-index: 1;
  width: 50%;
  left:10%;
  text-align: start;
}

.btn-name::before {
  display: block;
  content: " ";
  height: 2px;
  background-color: red;
  width: 50%;
  transition: 1s;
}

.btn_btn:hover {
  transform: translateY(-17px);
  /*cho item chạy ngược lên trên*/
  cursor: pointer;
  transition: 0.5s;
  border:none;
}

.text_stadium_h2{
  font-size: 25px;
  margin-bottom: 60px;
}

.btn_btn:hover .btn_btn{
  border:none;
}

.btn_btn:hover .btn-name::before {
  width: 100%;
}

.stadium {
  margin-top: 90px;
  padding-bottom: 100px;
}


.stadium_h2 {
  margin-top: 40px;
}

.stadium-img {
  width: 100%;
}

.stadium_h3,
.stadium_text_h2 {
  text-align: center;
  font-size: 30px;
}

.stadium_relative {
  position: relative;
}

.stadium_text {
  position: absolute;
  top: 30%;
  left: 15%;
}

.stadium_text_h2,
.stadium_h3 {
  margin-top: 30px;
  color: #fff;
}

.stadium__information {
  position: absolute;
  top: 70%;
  right: 44%;
  padding: 20px;
  border-radius: 20px;
  border: none;
  ouline: none;
  background: #0255a5;
}

.stadium_flex {
  display: flex;
  color: #fff;
  gap: 10px;
  align-items: center;
  text-transform: uppercase;
}

.stadium_icon {
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  background: #fff;
}

.stadium_icon i {
  margin-left: 1px;
  color: blue;
}

.footer {
  margin-top: 70px;
}

.footer_content {
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
  background: var(--footer-color);
  padding-bottom: 90px;
}

.footer_h3 {
  font-size: 20px;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
  color:var(--secondary-color);
}

.footer_h3::after {
  content: "";
  position: absolute;
  background-color: #000;
  height: 3px;
  width: 20%;
  left: 40%;
  transition: 0.3s;
  bottom: -10px;
}

.footer_list_icon {
  margin-top: 40px;
  display: flex;
  gap: 25px;
}

.footer_icon {
  font-size: 25px;
  color: #888888;
}

.footer_icon:hover {
  color: #000;
}

.footer_part1 {
  margin-left: 140px;
}

.footer_part2 {
  margin-right: 140px;
}

.footer_icon_p2 {
  font-size: 25px;
  text-align: center;
  color: #808080;
}

.footer_text_icon {
  width: 80px;
  font-size: 13px;
}

.footer_icon_p2 i:hover {
  color: #000;
}

.footer_p {
  text-align: center;
 
}

.list_sponsor {
  margin-top: 50px;
}

.two_list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.six_list {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.sponsor_img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  width: 90%;
}

.sponsor_img:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  -o-filter: grayscale(0);
}

/**/
.image {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}

.image img {
  width: 100%;
}

.carousel{
  width: 100%;
}

.carousel_img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=realmadrid.css.map */
