/*Mobile and Tablet*/
@media(max-width: 1023px){
    .hide-on-mobile-tablet{
        display: none;
    }
    .cup_c1_real{
        display: block;
    }

}

/*Tablet*/
@media(min-width:740px) and (max-width:1023px){
    .hide-on-tablet{
        display: none;
    }
}

/*Mobile*/
@media(max-width:739px){
    .hide-on-mobile{
        display: none;
    }

    .nav__bars-btn{
        display: block;
    }
    .navbar__content{
        padding: 10px;
    }
    .logo{
        gap:1px;
    }
    .navbar__first{
        margin-top: 25px;
    }
    .news{
        margin-top: 120px;
    }
    .news_real{
        display: block;
    }
    .news1{
        width: 100%;
    }
    .article_content{
        width: 100%;
    }
    .advertising{
        text-align: center;
    }
    .real_tv .content{
        width: 100%;
        position: relative;
    }

    .real_tv{
        display: block;
    }

    .real_tv_img{
        position: absolute;
        top: 10%;
        right:1%;
        transform: translate(-50%, -50%);
    }
    .real_tv_list{
        display: block;
        margin-left: 0;
        padding-top:40px;
    }
    
    
}