/*Mobile and Tablet*/
@media(max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }

    .cup_c1_real {
        display: block;
    }

}

/*Tablet*/
@media(min-width:740px) and (max-width:1023px) {
    .hide-on-tablet {
        display: none;
    }
}

/*Mobile*/
@media(max-width:739px) {
    .hide-on-mobile {
        display: none;
    }

    .nav__bars-btn {
        display: block;
        cursor:pointer;
    }

    .navbar__content {
        padding: 10px;
    }

    .logo {
        gap: 1px;
    }

    .navbar__first {
        margin-top: 25px;
    }

    .news {
        margin-top: 80px;
    }

    .news_real {
        display: block;
    }

    .news1 {
        width: 100%;
    }

    .article_content {
        width: 100%;
    }

    .advertising {
        text-align: center;
        margin-top: 70px;
    }

    .real_tv .content {
        width   : 100%;
        position: relative;
    }

    .real_tv {
        display: block;
    }

    .real_tv_img {
        position : absolute;
        top      : 10%;
        right    : 1%;
        transform: translate(-50%, -50%);
    }

    .real_tv_list {
        display    : block;
        margin-left: 0;
        padding-top: 40px;
    }

    .real_tv_button span {
        color: #fff;
    }

    .news_real {
        margin-top: 40px;
    }

    .article1 {
        padding-top: 50px;
    }

    .banner .content {
        width: 100%;
    }

    .banner_img {
        width: 100%;
    }

    .banner_content {
        width: 100%;
    }

    .banner_heading {
        position   : absolute;
        top        : 55%;
        left       : 12%;
        width      : 300px;
        line-height: 40px;
        text-align : center;
        font-size  : 20px;
        color      : var(--primary-color);
        font-family: 'Oswald', sans-serif;
    }

    .banner_list_icon {
        bottom         : 0;
        position       : relative;
        left           : -12%;
        justify-content: center;
    }

    .stadium_relative {
        margin-top: 85px;
        position  : none;
    }

    .stadium_flex span {
        color: #ccc;
    }

    .stadium_img_text {
        width: 230px;
        margin:0 auto;
        margin-top: 40px;
        padding      : 20px;
        border-radius: 20px;
        border       : none;
        ouline       : none;
        background   : #0255a5;
    }
    .stadium_img_text{
        display: block;
    }
    .nav__mobile-link{
        border-bottom: 1px solid #0255a5;
        margin-left: 0;
        padding-top: 16px;
    }
    .nav__mobile-list{
        margin-top: 100px;
    }
    .logo__content{
        display: block;
    }   
}